
#sox-bar {
    position: fixed;
    display: none;
    height: 100%;
    width: 400px;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background-color: #fff;
    border-right: solid 1px #aaa;
}
#sox-bar-title{
    margin-bottom:5px;
}

#sox-bar-title a {
    float: right;
    margin-right: 5px;
 cursor: pointer;
}

#sox-bar-features {
    height: 100%;
    overflow-y: auto;
}
