
#sox-bar {
    position: fixed;
    display: none;
    height: 100%;
    width: 400px;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background-color: #fff;
    border-right: solid 1px #aaa;
}
#sox-bar-title{
    margin-bottom:5px;
    padding: 10px;
    height: 30px;
}

#sox-bar-title a {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

#sox-bar-title h3 {
    display: inline;
}

#sox-bar-features {
    height: calc(100vh - 110px);
    overflow-y: auto;
    padding: 0 10px 10px 10px;
}
#sox-bar-features h3:nth-of-type(n+2) {
    margin-top: 5px;
}

#sox-bar-close { float: right;}
#sox-bar-close a {
    padding: 3px 6px 2px 6px;
    font-size: 16px;
    font-weight: normal;
    color: #fff !important;
    background-color: #222;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1;
}

#sox-bar-actions{
    height: 40px;
    padding: 0 10px;
}
#sox-bar-save {
    margin-left: 5px;
    float: right;
} 
#sox-bar-reset {
    float: right;
    padding: 14px;
}



/* -------- SOX Features CSS ------- */

#sox-scrollToTop{
    position:fixed;
    right: 0; bottom: 0; 
    background-color: rgba(200,200,200, .7); 
    width: 40px; height: 40px; 
    text-align: center;
}
