#sox-popup {
    display: block;
    position: fixed;
    height: 400px;
    width: 50%;
    min-width: 500px;
    top: 25%;
    left:25%;
}

#sox-popup-close {
    float: right;
}

#sox-popup-close a {
    padding: 3px 6px 2px 6px;
    font-size: 16px;
    font-weight: normal;
    color: #fff !important;
    background-color: #222;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1;
}
